<center>
	<h2>Com arribar-hi</h2>
	<h3>RENFE rodalies</h3>
	<p>Línia R1: Molins de Rei - Maçanet Massanes</p>
	<p>Línia R4: St. Vicenç de Calders - Vilafranca del Penedès -Terrassa - Manresa</p>

	<h3>TRAMBAIX</h3>
	<p>Línia T3: St Feliu Consell Comarcal - BCN Francesc Macià</p>

	<h3>BUSNIT</h3>
	<p>N12- Barcelona-Sant Feliu</p>

	<h3>AUTOBUSOS</h3>
	<p>L10, L50, L51, L52, L57, L60, L61, L62, L64, L65</p>

	<h3>PLÀNOL DE SITUACIÓ</h3>
	<iframe class="map" width="520" height="390" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.es/maps?hl=ca&amp;safe=off&amp;q=pla%C3%A7a+lluis+companys+sant+feliu+de+llobregat&amp;ie=UTF8&amp;hq=&amp;hnear=Pla%C3%A7a+de+Llu%C3%ADs+Companys,+08980+Sant+Feliu+de+Llobregat,+Barcelona,+Catalunya&amp;gl=es&amp;ll=41.381755,2.045262&amp;spn=0.009306,0.021114&amp;t=h&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
	<br/>
	<small>
		<a class="shadowed" href="http://maps.google.es/maps?hl=ca&amp;safe=off&amp;q=pla%C3%A7a+lluis+companys+sant+feliu+de+llobregat&amp;ie=UTF8&amp;hq=&amp;hnear=Pla%C3%A7a+de+Llu%C3%ADs+Companys,+08980+Sant+Feliu+de+Llobregat,+Barcelona,+Catalunya&amp;gl=es&amp;ll=41.381755,2.045262&amp;spn=0.009306,0.021114&amp;t=h&amp;z=14&amp;iwloc=A&amp;source=embed">Mostra un mapa més gran</a>
	</small>
</center>
