<center><h2>Fotos</h2></center>

<center>
	<object width="520" height="390">
		<param name="flashvars" value="offsite=true&lang=es-us&page_show_url=%2Fphotos%2Fbutifarrasound%2Fshow%2F&page_show_back_url=%2Fphotos%2Fbutifarrasound%2F&user_id=58005988@N06&jump_to="></param>
		<param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=109615"></param>
		<param name="allowFullScreen" value="true"></param>
		<embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=109615" allowFullScreen="true" flashvars="offsite=true&lang=es-us&page_show_url=%2Fphotos%2Fbutifarrasound%2Fshow%2F&page_show_back_url=%2Fphotos%2Fbutifarrasound%2F&user_id=58005988@N06&jump_to=" width="520" height="390"></embed>
	</object>
</center>
