<center><h2>Grups</h2></center>
<a href="https://www.facebook.com/som.caliu"><h3>Som Caliu</h3></a>
<p>Grup de Rumba Catalana nascut al barri de Sants, Barcelona, fa més de 15 anys. Fundat per Alberto "Tito" Martin i Xavi Clota. </p>
<p>Per el grup han passat molts músics d’àmbit com el Jazz i el flamenc. L’ànima màster del grup és XAVI CLOTA, compositor i cantant, que ha sigut amb el projecte quan "Tito" Martin va haver de deixar-ho per vàries obligacions familiars i laborals.</p>
<p>Durant la seva dilatada carrera, el grup ha fet gires internacionals (Xina/2002, Alemania/1997...), ha compartit escenari amb Joan Manel Serrat, Quico Pi de la Serra, El Tricicle, La Unión... Per les seves files han passat grans músics: Tato Latorre, Reinaldo Rivero, David González, Paco Pubill, Jose Andrés Cortés, Marc Mercadé, Manolo Benítez, Sabina Witt, Sergi Felipe... tots hi han aportat el seu granet de sorra. </p>
<p>Ara tenen una gran platja on prendre el sol...</p>
<p>Gràcies a tots</p>
<center><iframe width="420" height="315" src="http://www.youtube.com/embed/MLqZJ8TD2OU" frameborder="0" allowfullscreen></iframe></center>

<a href="http://www.miqueldelroig.cat/"><h3>Miquel del Roig</h3></a>
<p>En MIQUEL DEL ROIG comença als 17 anys a aprendre una mica de música i a tocar el baix en un grup local fent música pop. Als 19 anys forma un grup, “Los Craneos”, on tocava la guitarra i ja cantava. A la mili va fer cors per cantar i tocar a les misses de les esglésies.</p>
<p>En acabar-la se’n va anar “sense un duro” a Sant Antoni d’Eivissa i de seguida va trobar feina en un trio de guitarres. Així va anar fent durant tres temporades. Després torna al poble i decideix tocar tots els estius en hotels de Salou i, de tant en tant, tocar sol en pubs, bars, càmpings… Fins que l’amic Agustí del bar La Planassa de Palamós, el va cridar per tocar-hi l’any 2002. En MIQUEL DEL ROIG no havia estat mai a la Costa Brava. Llavors decideix tocar sempre sol i fer més música del país i actuar molt més pel nord de Catalunya gràcies a la gent, sobretot joves, que li demanen.</p>
<p>Gràcies el boca-orella en MIQUEL DEL ROIG aconsegueix fer cap a un centenar de concerts cada any. Un fenomen poc usual dins el panorama musical català actual.</p>
<p>MIQUEL DEL ROIG no és un cantautor intel·lectual de paraules rebuscades i místics missatges. En Miquel és un home senzill que nasqué i viu a l’Ametlla de Mar (el Baix Ebre) dedicat a la feina de mestre d’escola (actualment jubilat) i a la seva afició a la mar, on hi passa hores pescant. Malgrat tenir aquest passatemps tan relaxant, en Miquel inquiet, preocupat per la polèmica de la societat actual i per l’herència que deixarem a les generacions futures. Tot això es veu reflectit a la seva música i a les seves lletres, naturals i espontànies: la principal virtut d’en MIQUEL DEL ROIG és cantar al sentiment de la injustícia d’una forma planera i senzilla, com ell.</p>
<center><iframe width="420" height="315" src="http://www.youtube.com/embed/UHBdw2kzurg" frameborder="0" allowfullscreen></iframe></center>

<a href="https://www.facebook.com/PiratsSoundSistema"><h3>Pirat's Sound Sistema</h3></a>
<p>Pirat’s Sound Sistema són el primer sound system de música jamaicana en català. Des de 2003, el millor reggae, dancehall, rap i drum’n’bass des de Sants, amb dos llarga durada al carrer i centenars de concerts arreu del territori català, estatal i europeu.</p>
<p>El trio de Sants (dos vocalistes i un DJ) canta a la quotidianitat del carrer i dels barris, a la quotidianitat del joven del segle XXI: una generació amb un present complicat però amb totes les ganes del món de viure, construir i decidir un futur millor.</p>
<p>El 2012 veurà la llum el tercer àlbum de Pirat’s Sound Sistema a través de Propaganda pel fet! i mitjançant el crowdfounding de Verkami. "Em bull la sang" tornarà a ser un recopilatori d’himnes generacionals, amb músiques calentes, festives i ballables i grans dosis de complicitat, lluita, amor i esperança. Des de Sants, amb esperit tropical, rebel i autogestionat.</p>
<p>Pirat’s Sound Sistema s’han passejat amb el seu explosiu directe per festivals internacionals com el Popkomm (Berlin), grans revetlles populars d’arreu (Semana Grande de Bilbo), escenaris nostrats i de volada (Arc de Triomf, 11 de Setembre), aplecs de primera línia al món de les músiques jamaicanes (Rototom Sunsplash, Reggus, Fino Reggae Fest…), clubs i sales de referència (Apolo BCN, Clap Mataró, Stroika Manresa, Salamandra L’Hospitalet)…</p>
<p>El trio de Sants torna a la càrrega amb noves dosis de reggae, dancehall i rap clar, autogestionat i en català.</p>
<center><iframe width="420" height="315" src="http://www.youtube.com/embed/eSqlvVXl1QU" frameborder="0" allowfullscreen></iframe></center>

<a href="https://www.facebook.com/TheCabrians"><h3>The Cabrians</h3></a>
<p>The Cabrians és un grup d’amics de Mataró que han estat involucrats en l’escena de la música ska des de que aquesta va començar a ser popular a mitjans dels anys noranta a Catalunya. Es van estrenar com un grup de música a l’any 2000. Des dels seus primers dies van ser ben coneguts pels seus espectacles i per la seva divertida presencia allà on anaven. Sempre  amb els seus sharps i els seus vestits elegants.</p>
<p>A més a més, també han tocat a altres parts d’Espanya, i han anat de tour per Itàlia i França. Actualment estan celebrant el seu cinquè aniversari amb l’alliberament del seu primer àlbum Black Momerota i també amb el single 7 amb el gran conegut jamaicà, Dj Dennis Alcapone.</p>
<p>La seva manera única de tocar la música tradicional Jamaicana, s’ha convertit completament popular arreu de tot Catalunya. Ells toquen Boss Porn Ska; una manera festiva de l’Ska que té les seves arrels a l’autèntic esperit del carnaval, i que també té la força de la seva major influència: La veu de la gent de Prince Buster. La música de carnaval, el rude ska... </p>
<p>No és només música el que pots treure d’aquests nois, ells sempre et donaran una gran quantitat d’històries descarades i divertides on podràs sentir a parlar sobre aventures pornogràfiques, disturbis, enfrontaments policials, històries de drogues, lladres, presoners, putes, corrupció política, i també futbolers cobards. El so del seu Boss Porn  segueix els passos del gran i únic heroi de classe treballadora, Judge Dread. The Cabrians són ben coneguts i respectats pels seus espectacles. Cada vegada que salten a l’escenari hi ha festa! Des del principi i fins al final, la gent no pot parar de ballar i cantar els seus himnes de boss porn.</p>
<p>Bon rotllo, esperit festiu, i lletres de veritat per a una generació de joves que han crescut amb l’esperit del punk i de l’skinhead. Com a banda, aquests gats mai caminen sols, a qualsevol lloc que toquen sempre són acompanyats pels seus seguidors, els quals prefereixen no parar de ballar i cantar en comptes de beure una cervesa.</p>
<p>Oblidat dels problemes, sent el seu ritme, I gaudeix de la boja atmosfera dels The Cabrians.</p>
<p>Actualment, els The Cabrians estan gravant el seu segon lp, que inclou 18 noves cançons, des del rudest ska fins al més salvatge matador Hammond reggae. Estigueu atents amb la que s’acosta…. FOR A FEW PUSSIES MORE YOU’LL LAY ON THE FLOOR!! THE HARDEST FAR WEST SOUND IS COMING UP TO YOU!</p>
<center><iframe width="420" height="315" src="https://www.youtube.com/embed/GJ2Yx89pT4s" frameborder="0" allowfullscreen></iframe></center>
