<center><h2>Història</h2></center>
<p>El projecte va néixer l’any 2005 com a acte principal de la celebració del 40è aniversari de l’agrupament, va tenir molt bona acollida, i els membres del Cau van decidir repetir l’experiència. Al mateix temps s’aconseguia pal·liar amb aquest concert la manca d’activitats culturals existents durant la fira.</p>
<p>En les anteriors edicions ha vist passar grups com La Carrau, Baetúria, Rauxa, Strombers,Dr. Calypso, Dumbala Canalla, Betagarri, Mazoni, the Seihos, discipulos de Otilia, Desgavell, che Sudaka, Tapa eta Leturia, La Gossa Sorda, Dr. Ring Ding, etc.</p> 
<p>El Buti+Farra+Sound és un festival totalment gratuït i és actualment l’únic concert que es fa a la ciutat d’aquestes característiques. Cal dir que l’èxit de públic aconseguit en anteriors edicions ha demostrat que hi ha una demanda d’aquest tipus d’activitat durant la Fira de la Primavera . Per a l’agrupament, es tracta de l’acte de cara al públic més important que realitza al llarg de l’any perquè aconsegueix implicar a tots els membres que en formen part. Des dels nens més petits, passant per paresi mares, familiars, amics, caps i ex-caps, tots col·laboren en la preparació i realització d’aquest gran concert. El cau, que va fer 45 anys el 2010, és una entitat d’educació en el lleure que acull nens de 6 a 18 anys, per això el concert està pensant per a totes les edats.</p>
