<center>
	<h2>IX Butifarrasound 2013</h2>
	<img class="logo" src="logo.png"></img>
	<p><small>Dissabte 11 de maig 2013</small></p>
	<p><small>Plaça Lluís Companys</small></p>
	<p><small>AEiG Nostra Dona de la Salut</small></p>
	<p><small>ENTRADA GRATÜITA</small></p>
</center>
