<center>
<h2>Patrocinadors</h2>
</center>
<div class="patrocinadors">
	<img class="logo" src="./patrocinadors/logo-1.jpg"> 
	<img class="logo" src="./patrocinadors/logo-2.jpg"> 
	<img class="logo" src="./patrocinadors/logo-3.jpg"> 
	<img class="logo" src="./patrocinadors/logo-4.jpg"> 
	<img class="logo" src="./patrocinadors/logo-5.jpg"> 
	<img class="logo" src="./patrocinadors/logo-6.jpg"> 
	<img class="logo" src="./patrocinadors/logo-7.jpg"> 
	<img class="logo" src="./patrocinadors/logo-8.jpg"> 
	<img class="logo" src="./patrocinadors/logo-9.jpg"> 
	<img class="logo" src="./patrocinadors/logo-10.jpg"> 
	<img class="logo" src="./patrocinadors/logo-11.jpg"> 
	<img class="logo" src="./patrocinadors/logo-12.jpg"> 
	<img class="logo" src="./patrocinadors/logo-13.jpg"> 
	<img class="logo" src="./patrocinadors/logo-14.jpg"> 
	<img class="logo" src="./patrocinadors/logo-15.jpg"> 
	<img class="logo" src="./patrocinadors/logo-16.jpg"> 
	<img class="logo" src="./patrocinadors/logo-17.jpg"> 
	<img class="logo" src="./patrocinadors/logo-18.jpg"> 
	<img class="logo" src="./patrocinadors/logo-19.jpg"> 
	<img class="logo" src="./patrocinadors/logo-20.jpg"> 
	<img class="logo" src="./patrocinadors/logo-21.jpg"> 
</div>
