@font-face {
	font-family: rockwell;
	src: url( rock.ttf ) format("truetype");  
}

body {
	background-color: #cec8bb;
	background-image: url('fons.png');
	background-repeat: repeat;
	font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: rockwell, verdana;
	color: rgba(50,50,50,0.8);
	text-shadow: 1px 4px 6px #cec8bb, 0 0 0 #000, 1px 4px 6px #cec8bb;
}

a {
	text-decoration: none;
	color: inherit;
}

.clickable {
	cursor: pointer;
}

.shadowed {
	color: rgba(50,50,50,0.8);
	text-shadow: 1px 4px 6px #cec8bb, 0 0 0 #000, 1px 4px 6px #cec8bb;
}

span.menu.shadowed:hover , a:hover , a h4:hover , a h3:hover {
	color: rgba(0,0,0,1); 
	text-shadow: 1px 4px 6px #FFFFFF, 0 0 0 #000, 1px 4px 6px #FFFFFF;
}

::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

h1.title {
	text-align: center;
	font-size: 65px;
	margin-bottom: 0px;
	margin-top: 10px;
}

div#wrapper {
	width: 800px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

div#menu {
	text-align: center;
}

div#social{
	position: absolute;
	right: -37px;
	top: 290px;
	width: 30px;
}

div#social img {
	opacity: 0.5;
	margin-bottom: 5px;
	width: 30px;
}

div#social img:hover {
	opacity: 1;
	-webkit-box-shadow: 0 0 10px #ffffff; 
	-moz-box-shadow:    0 0 10px #ffffff; 
	box-shadow:         0 0 10px #ffffff; 
}

span.menu {
	font-size: 16px;
	margin-left: 8px;	
	margin-right: 8px;	
}

div#contents {
	background-color: rgba(255,255,255,0.5);
	margin-top: 20px;
	min-height: 460px;
	overflow: hidden;
	padding: 25px;
	padding-bottom: 10px;
	padding-top: 0;
	border-radius: 10px;
}

iframe.map {
	border-radius: 5px;
	border: 2px inset;
}

p small {
	line-height: 0;
}

img.logo {
	margin-top: 20px;
	margin-bottom: 70px;
}

div.line {
	border-bottom: 2px groove;
	width: 250px;
}

a.contacte {
	line-height: 50px;
}

div.patrocinadors {
	width: 780px;
	margin-left: -12px;
}
div.patrocinadors img.logo {
	vertical-align: top;
	display: inline;
	margin: 1px;
	margin-bottom: 5px;
}
