#scrollBall {
	position: absolute;
	right: 0;
	top: 0;
	width: 10px;
	height: 10px;
	border-radius: 20px;
	background-color: black;
}

#scrollLine {
	border-radius: 20px;
	position: absolute;
	right: 5px;
	top: 118px;
	width: 10px;
	background-color: gray;
	opacity: 0.5;
}

